<div class="ui blue segment">
	
	<h3 class="ui header"> Logitech</h3>
	<div class="ui divider"></div>
	<div class="ui vertical segment">
		<h4 class="ui header"> Summary</h4>
		<p>
			Logitech is world leader in products that connects people in natural, intutive way to the digital experiences they care about.
			We develop our products with a powerful blend of artistic design,surprising science and innovation driven by consumer insight.
			Under the number of different brand, the company offers PC Peripherels,cases and keyboards for tablets,equipment for games,mobile
			speakers and ear phones for music and sports enthusiasts,devices to make video collaboration simple in the workplace and entertainment
			and control products for the home.Join our misson to help the world create achieve and enjoy more !.
			
		</p>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header"> Company Type</h4>
		<div class="ui label">
			Supplier
		</div>
		<div class="ui label">
			Buyer
		</div>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header"> Product Type</h4>
		<div class="ui label">
			Consumer
		</div>
		<div class="ui label">
			Elctronics
		</div>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Specialities</h4>
		<div class="ui label">
			Personal Peripherels
		</div>
		<div class="ui label">
			Driving innovation in PC Navigation
		</div>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Specialities</h4>
		<div class="ui label">
			Personal Peripherels
		</div>
		<div class="ui label">
			Driving innovation in PC Navigation
		</div>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Website</h4>
		<p> <a> www.logitech.com </a></p>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Established</h4>
		<p>1981</p>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Company Size</h4>
		<p>2000-5000</p>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Headquarters</h4>
		<p>Daniel Borel,Innovation Center CH - 1015,Lausanne,Switzerland</p>
	</div>
	<div class="ui vertical segment">
		<h4 class="ui header">Get In touch</h4>
		<button class="ui primary button submit-button">Send Email</button>
	</div>
	
</div>