<div class="ui secondary pointing menu">
  <div class="item">
	<div class="ui blue inverted header"> <h3>Workype</h3></div>
  </div>
  <a class="item active">
    <h3>Home</h3>
  </a>
  <a class="item">
	<h3>About</h3>
  </a>
  <a class="item">
    <h3>Contact</h3>
  </a>
  <div class="right menu">
	<div class="ui category item">
		<div class="ui input">
			<input class="promt" placeholder="Username" type="text">
		</div>
	</div>
	<div class="ui category item">
		<div class="ui input">
			<input class="prompt" placeholder="Password" type="text">
		</div>
	</div>
	<div class="item">
		<button class="ui blue button">
			Login
		</button>
	</div>
	</div>
</div>


