<div class="ui basic segment">
<div class="ui equal width grid">
    <div class="equal width row">
	<div class="column">
		<h3 class="ui left floated header">How it Works</h3>
		<div class="ui clearing divider"></div>
		
			<img class="ui bordered fluid image" src="/images/how_it_works.png"/>
	</div>
    <div class="column">
		<form class="ui form">
			<h3 class="ui left floated header">Create new account</h3>
			<div class="ui clearing divider"></div>
			 <div class="field">
				<div class="fields">
					<div class="sixteen wide field">
						<input type="text" name="first-name" placeholder="First Name">
					</div>
				</div>
			</div>
			<div class="field">
				<div class="fields">
					<div class="sixteen wide field">
						<input type="text" name="Email" placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="field">
				<div class="fields">
					<div class="sixteen wide field">
						<input type="text" name="username" placeholder="Username">
					</div>
				</div>
			</div>
			<div class="field">
				<div class="fields">
					<div class="sixteen wide field">
						<input type="text" name="email" placeholder="Email">
					</div>
				</div>
			</div>
			<div class="field">
				<div class="fields">
					<div class="sixteen wide field">
						<input type="text" name="password" placeholder="Password">
					</div>
				</div>
			</div>
			<button class="ui blue button"> Signup </button>
		</form>
	</div>
	</div>
</div>
</div>