<div class="ui items">
	<div class="item">
		<div class="image">
			<img src="/images/wireframe/image.png">
		</div>
		<div class="content">
			<a class="header">Logitech Inc.</a>
			<div class="meta">
				<span>Company Type :</span>
				<div class="ui label">
					Supplier
				</div>
				<div class="ui label">
					Manufacturer
				</div>
			</div>
			<div class="meta">
				<span> Product Type </span>
				<div class="ui label">
					Electronics
				</div>
			</div>
			<div class="meta">
				<span> Specialities </span>
				<div class="ui label">
					Mems & Sensors
				</div>
				<div class="ui label">
					Smart Power
				</div>
				<div class="ui label">
					Application Processors
				</div>
			</div>
			<div class="extra">
				Size: 
				<span>100-500</span>
			</div>
		</div>
	</div>
</div>