<div class="ui fluid left action right icon input">
	<div class="ui basic floating dropdown button">
		<div class="text">Select Category</div>
		<i class="dropdown icon"></i>
		<div class="menu">
			<div class="item">Buyer</div>
			<div class="item">Suppliers</div>
			<div class="item">Manufacturer</div>
			<div class="item">Sales Agent</div>
		</div>
	</div>
	<input type="text" placeholder="Search...">
	<i class="inverted circular search link icon"></i>
</div>

<script>
    $('.ui.dropdown').dropdown();
</script>