<form class="ui form">
	<h4 class="ui dividing header">Personal Information</h4>
	<div class="field">
		<label> Name </label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="name[first-name]" placeholder="First Name">
			</div>
			<div class="field">
				<input type="text" name="name[last-name]" placeholder="Last Name">
			</div>
		</div>
		<label> Contact </label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="contact[pri-contact]" placeholder="Primary Contact">
			</div>
			<div class="field">
				<input type="text" name="name[sec-contact]" placeholder="Secondary Contact">
			</div>
		</div>
		<label>Address</label>
		<div class="fields">
			<div class="eight wide field">
				<input type="text" name="address" placeholder="Street Address">
			</div>
			<div class="two wide field">
				<input type="text" name="city" placeholder="City">
			</div>
			<div class="two wide field">
				<input type="text" name="state" placeholder="State">
			</div>
			<div class="two wide field">
				<input type="text" name="country" placeholder="Country">
			</div>
			<div class="two wide field">
				<input type="text" name="pincode" placeholder="Pin Code">
			</div>
			
		</div>
	</div>
	<h4 class="ui dividing header">Professional Information</h4>
	<div class="field">
		<label> Company Details </label>
		<div class="fields">
			<div class="eight wide field">
				<input type="text" name="company-name" placeholder="Company Name">
			</div>
			<div class="four wide field">
				<input type="text" name="jobtitle" placeholder="Job Title">
			</div>
			<div class="four wide field">
				<input type="text" name="exp" placeholder="Experience (in years)">
			</div>
		</div>
		<label> Email </label>
		<div class="fields">
			<div class="twelve wide field">
				<input type="text" name="email" placeholder="abc@example.com">
			</div>
		</div>
		<label>Summary</label>
		<div class="field">
			<textarea></textarea>
		</div>
	</div>

</form>