{{user-header}}
<div class="ui grid">
	<div class="row">
		<div class="sixteen wide column">
			<div class="ui basic segment">
				{{page-breadcrumbs}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="two wide column"></div>
		<div class="twelve wide column">
			{{company-info}}
		</div>
		<div class="two wide column"></div>
	</div>
</div>
{{page-footer}}