{{user-header}}
<div class="ui grid">
	<div class="ui two column centered grid">
		<div class="four column centered row">
			<div class="column"></div>
			<div class="column"></div>
		</div>
		<div class="column">
			<div class="ui center aligned basic segment">
				<div class="ui basic segment">
					<p> <h2> Welcome to Workype </h2></p>
				</div>
				<div class="ui basic segment">
					{{search-page}}
				</div>	
			</div>
		</div>
	</div>
</div>
   <div class="ui grid">
		<div class="eight wide column"></div>
		<div class="eight wide column"></div>
		<div class="ten wide column"></div>
		<div class="six wide column"></div>
		<div class="four wide column"></div>
		<div class="twelve wide column"></div>
		<div class="two wide column"></div>
		<div class="fourteen wide column"></div>
		<div class="sixteen wide column"></div>
	</div>
	<div class="ui grid">
		<div class="eight wide column"></div>
		<div class="eight wide column"></div>
		<div class="ten wide column"></div>
		<div class="six wide column"></div>
		<div class="four wide column"></div>
		<div class="twelve wide column"></div>
		<div class="two wide column"></div>
		<div class="fourteen wide column"></div>
		
	</div>
	<div class="ui grid">
		<div class="eight wide column"></div>
		<div class="eight wide column"></div>
		<div class="ten wide column"></div>
		<div class="six wide column"></div>
		<div class="sixteen wide column"> {{page-footer}}</div>
	</div>
